header{
  
height: 130px;
flex-shrink: 0;
background: #202020;
display: flex; 
align-items: end;
align-content: center; 
justify-content: space-between;
padding:  0 20px;

}
header h5{
    color: #FFF;

font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
header ul li a{
    color: #B0B0B0;
/* font-family: Montserrat; */
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
}

ul li{
    list-style: none;
}
header ul li {
    margin-top: 10px;   
}
header ul li.active{
    background-image: url(assets/active.png);
    background-size: cover;
    padding: 20px;
    margin-top: 0px;
    width: 198px;
    /* background: #000; */
}
header .logo , header .icons{
    margin-bottom: 30px; 
    
}
body{
    background-color: #000000 !important;
    overflow-x: hidden;
}
.content .left{
    background: #202020;
}
.content .header{
    border: 1px solid rgba(236, 238, 246, 0.07);
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.content .header{
    display: flex ;
    justify-content: space-around;
}
.content .header input{
    background: #202020;
    border: none;
}
.left button{
    background: #01010159 !important;
    color: #00FFF5 !important;
    padding: 0 !important;
}
.left span.text{
    color: rgba(255, 255, 255, 0.54);
    font-size: 14px;
}
.left p{
    color: #FFF;

font-size: 18px;
}
.content .left{
    border-radius: 12px;
}
.left hr{
    color: white;
}
.item small{
    color: #B0B0B0;
font-size: 12px;
font-style: normal;
}
.btn-info{
    border-radius: 8px !important;
background: #202020 !important;
color:  #E2E8F0 !important;
border: unset !important;
}
button.w-100{
    color: #B0B0B0 !important;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
background: transparent !important;
padding-top: 20px !important;
padding-bottom: 20px !important;
padding: 10px 5px !important;
text-align: left;
}
.active-btn{
    background: #2E2E2E !important;
}
.box{
    border-radius: 16px;
background: rgba(32, 32, 32, 0.85);
/* Soft shadow */
box-shadow: 0px 2px 6px 0px rgba(63, 93, 126, 0.40);
}
.box span{
    font-size: 14px;
    color: #FFF;
}
.span2{
    font-size: 11px !important;
font-style: normal;
font-weight: 400;
}
.box p.text-title{
color: #FFF !important;
font-size: 11px !important;
font-style: normal;
}
.box span.text-info{
    color: #767171 !important;
    font-size: 11px !important;
    font-style: normal;
    }
    .section::-webkit-scrollbar {
        width: 10px;
      }

      .section {
        scrollbar-width: thin;
        border-radius: 19px;
        scrollbar-gutter: stable;
        scrollbar-color: #6969dd #e0e0e0;
        scrollbar-width: thin;
        overflow-y: auto;
        max-height: 220px;
        padding: 1rem;
        scrollbar-color: red yellow;
      }
      .section::-webkit-scrollbar-track {
        /* background-color: rgba(0, 255, 245, 0.22); */
        background-color: #475569;
        border-radius: 10px;

      }
      .section::-webkit-scrollbar-thumb {
        /* background-color: #475569; */
        background-color: rgba(0, 255, 245, 0.22);
        border-radius: 10px;

      }

      .line {
        border-left: 1px solid white;
        height: 20px;
        margin-left: 19px;
      }
      .control button span{
        font-size: 8px;
        color: #e0e0e0;
    }
     
    i{
        color: #e0e0e0;
        font-size: 14px;
    }
    small.tex{
        font-size: 8px;
        color: #928e8e;
    }
    .con{
        background: #161515;
    }
    #datepicker{
        display: flex;
    justify-content: center;
    }
    td.day, th.dow,.datepicker-switch{
        color: #E2E8F0;
    }
    td.day:hover, th.dow:hover,.datepicker-switch:hover{
        color: #3e454f;
    }

    .icon-checkbox-btn {
        position: relative;
        display: inline-block;
      }
      
      .icon-checkbox-btn .checkbox {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 1;
        cursor: pointer;
        z-index: 2222;
      }
      
      .icon-checkbox-btn .btn {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
      
      .icon-checkbox-btn .btn:hover {
        border-color: #aaa;
      }
      
      .icon-checkbox-btn .checkbox:checked + .btn::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #8bc34a;
      }
   
     